{# Page Header Component #}
{% macro page_header(title, breadcrumb_items) -%}
  <div class="page-title-box d-flex align-items-center justify-content-between mb-3">
    <h4 class="mb-0">{{ title }}</h4>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{{ url_for('welcome.index') }}">Home</a></li>
        {% for item in breadcrumb_items %}
          {% if loop.last %}
            <li class="breadcrumb-item active">{{ item }}</li>
          {% else %}
            <li class="breadcrumb-item"><a href="#">{{ item }}</a></li>
          {% endif %}
        {% endfor %}
      </ol>
    </nav>
  </div>
{%- endmacro %}