# Dependencies
node_modules/
frontend/node_modules/

# Environment files
.env
.env.local
.env.*.local
*.env
.env.production

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
ENV/
*.pyc
*.pyo
*.egg-info/
.eggs/

# IDE
.idea/
.vscode/
*.swp
*.swo
*.sw?
.DS_Store

# Logs
logs/
*.log
npm-debug.log*

# Build
dist/
dist-ssr/
build/
*.egg-info/
*.local

# Database
*.db
*.sqlite3

# Coverage
coverage/
.coverage
htmlcov/

# Uploads & Data
uploads/

# OS
Thumbs.db

# Misc
.cache/
*.bak
*.mov
*.mp4
*.zip
*.tar.gz
.running_pids
backend/corposostenibile/blueprints/documentation/static/
# DB old suite backups
backend/backups